<h1>Reactive Form :</h1>
<form [formGroup]="profiledetail" (ngSubmit)="dis()">
  <div style="display: flex; flex-direction: column; gap: 20px;">

    <div>
      <label for="">First Name : </label>
      <input type="text" placeholder="Fname" formControlName="fname">
    </div>
    <div>
      <label for="">Last Name : </label>
      <input type="text" placeholder="Lname" formControlName="lname">
    </div>
    <div>
      <label for="">Age : </label>
      <input type="number" placeholder="Age" formControlName="age">
    </div>

    <h3>Adress :</h3>
    <div formGroupName="adress" style="display: flex; flex-direction: column; gap: 20px;">
      <div>
        <label for="">Street Name : </label>
        <input type="text" placeholder="Street Name" formControlName="street">
      </div>
      <div>
        <label for="">landmark : </label>
        <input type="text" placeholder="Landmark" formControlName="landmark">
      </div>
      <div>
        <label for="">City : </label>
        <input type="text" placeholder="City Name" formControlName="city">
      </div>
      <div>
        <label for="">Zipcode : </label>
        <input type="number" placeholder="Zipcode" formControlName="zipcode" min="6">
      </div>
    </div>

    <div>
      <button type="submit" [disabled]="!profiledetail.valid">Save</button>
    </div>

  </div>
</form>

<ul *ngFor="let data of profileresult">
  <li>First Name : <strong>{{data.fname}}</strong></li>
  <li>Last Name : <strong>{{data.lname}}</strong></li>
  <li>Age : <strong>{{data.age}}</strong></li>
  <li>Street Name : <strong>{{data.adress.street}}</strong></li>
  <li>Landmark : <strong>{{data.adress.landmark}}</strong></li>
  <li>City : <strong>{{data.adress.city}}</strong></li>
  <li>ZipCode : <strong>{{data.adress.zipcode}}</strong></li>
</ul>

<hr>
<h2>Using Form Builder :</h2>

<form [formGroup]="profilebybuilder" (ngSubmit)="disbybyuilder()">
  <div style="display: flex; flex-direction: column; gap: 20px;">

    <div>
      <label for="">First Name : </label>
      <input type="text" placeholder="Fname" formControlName="firstname">
    </div>
    <div>
      <label for="">Last Name : </label>
      <input type="text" placeholder="Lname" formControlName="lastname">
    </div>

    <h3>Adress :</h3>
    <div formGroupName="adress" style="display: flex; flex-direction: column; gap: 20px;">
      <div>
        <label for="">City : </label>
        <input type="text" placeholder="City Name" formControlName="city">
      </div>
      <div>
        <label for="">Zipcode : </label>
        <input type="number" placeholder="Zipcode" formControlName="zip" min="6">
      </div>
    </div>

    <div>
      <button type="submit" [disabled]="!profilebybuilder.valid">Save</button>
    </div>
  </div>


  <h4>Form Array :</h4>
   <div  formArrayName="hobby" style="display: flex; flex-direction: column; gap: 10px;">
     @for(hob of hobby.controls; track $index; let h = $index){
       <div>
         <label for="hob-{{h}}">Hobby {{h+1}}: </label>
         <input type="text" id="hob-{{h}}" [formControlName]="h">
         @if(h >= 1){
           <button (click)="removehob(h)">Delete</button>
          }
        </div>
      }
      <button style="width: 10vw;" type="button" (click)="addhob()">Add Hobby</button>
   </div>



</form>

<div>
  <p>Form Status : {{profilebybuilder.status}}</p>
</div>

<ul *ngFor="let data of profilebuilder">
  <li>First Name : <strong>{{data.firstname}}</strong></li>
  <li>Last Name : <strong>{{data.lastname}}</strong></li>
  <li>City : <strong>{{data.adress.city}}</strong></li>
  <li>ZipCode : <strong>{{data.adress.zip}}</strong></li>
  <li>Hobbies:</li>
  <ul>
    <li *ngFor="let hob of data.hobby">
      {{ hob }}
    </li>
  </ul>
</ul>

<hr>
<!-- <h2>Using FormArrayDirective</h2>
   <form [formArrayName]="Sujal">
      @for (control of Sujal.controls; track $index) {
        <input [formControlName]="$index">
      }
    </form> -->
<hr>

<hr>
    <h2>Form Events</h2>
    <div [formGroup]="testing">
      <input type="text" placeholder="Testing Events" formControlName="test">
    </div>
<hr>


<h2>Utility Functions Example(Events)</h2>

<p><strong>Name:</strong> {{ form.value.name }}</p>

<button (click)="inspect(form.get('name')!)">See Constrol</button>

<button (click)="inspect(form.get('skills')!)">See Form Array</button>
<button (click)="inspect(form.get('settings')!)">See Form Record</button>

<h3>Skills:</h3>
<ul>
  <li *ngFor="let s of form.value.skills">{{ s }}</li>
</ul>

<hr>


<form [formGroup]="login" (ngSubmit)="username()">
  <div>
    <label for="email">Email : </label>
    <input type="text" id="email" formControlName="email">
  </div>
  <div>
    <label for="psw">Password : </label>
    <input type="text" id="psw" formControlName="psw">
  </div>
  <div>
    <button type="submit">Save</button>
  </div>

</form>

<button (click)="explittype()">Explit Type</button>


<hr>


<div style="margin-top: 10px;">
<a [routerLink]="['']" style="text-decoration: none; border: 2px solid black; padding: 0.5%; color: white; background-color: red;">Back</a>
</div>
