

[ngAccordionGroup]{
  width: 500px;
  padding: 10px;
}



h3:focus-within, /* key bord foucs */
h3:hover /*  mouse hover*/ {
  background-color: #e6d4d7;
}


h3:first-of-type /* first of h3 select only first h3 of the line */ {
  border-radius: 1rem 1rem 0 0;
  border-block-start: 1px solid black;
}


h3:last-of-type {
  border-block-end: 1px solid black;
  border-radius: 0 0 1rem 1rem;
}

h3:last-of-type:has([aria-expanded='true']) {
  border-block-end: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

p {
  margin: 0;
  padding: 0 1.5rem 1.5rem 1.5rem;
  color: #756164;
  font-size: 0.875rem;
  border-inline: 1px solid var(--quinary-contrast);
  border-radius: 0 0 1rem 1rem;
  border-block-end: 1px solid var(--quinary-contrast);
  margin-block-end: 1rem;
}

[ngAccordionTrigger] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  cursor: pointer;
  padding: 1.5rem;
}

[ngAccordionTrigger][aria-disabled='true'] {
  opacity: 0.5;
  cursor: default;
}


.expand-icon {
  font-size: 1.3rem;
  color: rgb(208, 128, 141);
  transition: transform .3s ease-out;
}

.expand-icon__expanded {
  transform: rotate(180deg);
}
